.resources-bg {
    background-color: #060915;
    background-size: cover;
  }
  
  .Resources-headings {
    color: #00F6FF;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 600;
  }
  
  .res-learning-image {
    width: 20%;
    
  }
  
  .res-learn-name {
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-family: Roboto;
    padding: 5px;
  }
  
  .Resources-card-bg {
    background-image: radial-gradient(#00F6FF, #06b7bd);
    width: 100%;
    border-radius: 15px;
    padding: 10px;
  }
  
  .Scholarships-bg-card {
    background-image: url("https://videohive.img.customer.envatousercontent.com/files/8e787128-13af-4a7f-b901-a7775f3d8b27/inline_image_preview.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=4f61ddb4b050107a7891872ec6248b5d");
    background-size: cover;
    border-radius: 16px;
  }
  
  .Scholarships-bg-card2 {
    background-image: radial-gradient(#00F6FF, #06b7bd);
    background-size: cover;
    border-radius: 16px;
  }
  
  .Scholarships-bg-card3 {
    background-image: radial-gradient(#00F6FF, #06b7bd);
      background-size: cover;
    border-radius: 16px;
  }
  
  
  
  .Scholarship-title {
    color: #060915;
    font-family: "roboto";
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
  }
  
  .scholarship-link {
    display: flex;
    color: white;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
  }
  .scholarship-link svg {
    margin-top: 3px;
  }
  
  .skill-image {
    width: 50%;
    border-radius: 50%;
  }
  
  .skill-name {
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-family: Roboto;
    padding: 5px;
  }
  
  .skills-background {
    background-image: radial-gradient(#00F6FF, #06b7bd);
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .message2 {
    color: white;
    font-style: italic;
  }